body {
  background: white;
  margin: 0;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  background: $primary-color;
  padding: 32px;
  padding-bottom: 8px;
  nav,
  .description {
    text-align: center;
  }
  .description {
    color: white;
    margin-top: 8px;
  }
}
section {
  .section-content {
    margin: 0 42px;
    padding: 64px 0;
    box-sizing: border-box;
    &.small {
      padding: 32px 0;
    }
    &.mini {
      padding: 16px 0;
    }
    &.large {
      padding: 152px 0;
    }
  }
  &.nav {
    text-align: center;
    background: $primary-color;
    padding: 24px;
    padding-bottom: 35px;
    @include h-box;
    @include box-center;
    a {
      display: inline-block;
      padding: 8px 16px;
      color: white;
      background: lighten($primary-color, 10%);
      border-radius: 3px;
      &:hover {
        background: lighten($primary-color, 20%);
      }
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}

.collapse {
  .section-content {
    padding: 12px 0 64px 0;
  }
}

h1 {
  color: white;
  text-align: center;
  margin: 0 0 32px;
}

a {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: lighten($primary-color, 10%);
  }
}

.command {
  background: darken($primary-color, 10%);
  color: white;
  font-family: monospace;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 2px;
  padding: 12px 24px;
  box-sizing: border-box;
  text-align: center;
}
.plus {
  text-align: center;
  color: $primary-color;
  font-size: 32px;
  margin: 12px;
}

.demo,
.snippets {
  max-width: 1200px;
  margin: auto;
}

.snippet + .snippet {
  margin-top: 20px;
}

.snippet:last-child {
  margin-bottom: 39px;
}

.snippets {
  background: #f9f9f9;
  border-radius: 0 0 3px 3px;
}

.demo {
  background: #f9f9f9;
  margin-top: 42px;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  .section-content {
    text-align: center;
    max-width: 560px;
    margin: auto;
  }
}

.footer {
  font-size: 14px;
  text-align: center;
  background: lighten($primary-color, 45%);
}

.track-button {
  width: 229px;
  height: 39px;
  background: $primary-color;
  border-radius: 5px;
  color: white;
  line-height: 39px;
  margin: auto;
  cursor: pointer;
  user-select: none;
  &:hover {
    background: lighten($primary-color, 5%);
  }
  &:active {
    background: darken($primary-color, 5%);
  }
}

.v-track-table {
  .header,
  .row {
    display: flex;
    strong,
    span {
      flex: 1;
      line-height: 29px;
      border-bottom: 1px solid #ebeef5;
    }
  }
  .row:hover {
    background: #fafafa;
    cursor: pointer;
  }
}

.notification__large {
  width: 399px;
  .el-notification__group {
    width: 100%;
  }
}

.message-offset {
  top: 88px;
}

.section-content.collapse-wrapper {
  padding: 20px;
  margin: 20px auto;
  background: white;
  max-width: 690px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(232, 237, 250, 0.9);
}
